<div class="container mt-4 mb-4">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Feature Toggles</li>
    </ol>
  </nav>
  <div class="row">
    <div class="col-12 d-flex justify-content-end">
      <button type="button"
        class="btn btn-primary rounded-circle"
        routerLink="new"
        title="Create Feature Toggle"
        aria-label="Create Feature Toggle">
          <i class="bi bi-plus"></i>
      </button>
    </div>
  </div>
</div>

<ng-container *ngIf="toggles$ | async as toggles; else loading">
  <div class="container" *ngIf="toggles.length > 0; else empty">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Display Name</th>
          <th>Description</th>
          <th>Inverted</th>
          <th>Expires On</th>
        </tr>
      </thead>
      <tbody *ngFor="let toggle of toggles | slice:startIndex:endIndex">
        <tr style="cursor: pointer;" (click)="onClickToggle(toggle.id)">
          <td>{{toggle.displayName || 'N/A'}} </td>
          <td>{{toggle.description || 'N/A'}}</td>
          <td>{{toggle.inverted}}</td>
          <td>{{ toggle.expiresOn ? (toggle.expiresOn | date:'medium') : 'N/A' }}</td>
        </tr>
      </tbody>
    </table>
    <div class="col-12 d-flex justify-content-end">
      <p>Elements per page: {{listSize}} </p>
    </div>
    <ngb-pagination class="d-flex justify-content-center"
      [collectionSize]="toggles.length"
      (pageChange)="onChangeCurrentPage($event)"
      [page]="currentPage"
      [pageSize]="listSize"
      [rotate]="true"
      [ellipses]="false"
      [boundaryLinks]="true"
      aria-label="Pagination">
    </ngb-pagination>
  </div>
</ng-container>

<ng-template #loading>
  <app-loading-spinner></app-loading-spinner>
</ng-template>

<ng-template #empty>
  <div class="container">
    <div class="alert alert-info text-center">No Feature Toggles to show. Please add some!</div>
  </div>
</ng-template>

