table {
  width: 100%;
  margin-bottom: 2rem;
  background-color: transparent;
  th,
  td {
      border: 1px solid #ccc;
      padding: 0.5rem;
  }

  th {
      background-color: #eee;
      font-weight: bold;
  }
}
