<div class="container mt-4">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a
            routerLink="..">Feature Toggles</a></li>
        <li class="breadcrumb-item active" aria-current="page">Details</li>
    </ol>
  </nav>
</div>

<ng-container *ngIf="featureToggleDetails$ | async as details; else loading" class="mt-5">
  <div class="container" *ngIf="details.id; else showErrorMessage">
    <div class="row">
      <div class="col-12 d-flex justify-content-end">
        <button type="button"
          class="btn btn-primary rounded-circle"
          (click)="onClickEdit(details)"
          title="Edit Details"
          aria-label="Edit Feature Toggle Details">
            <i class="bi bi-pencil-fill"></i>
        </button>
        <button
          id="delete"
          type="button"
          class="btn btn-danger rounded-circle"
          (click)="onClickDelete(details.id)"
          title="Delete Feature Toggle"
          aria-label="Delete Feature Toggle">
            <i class="bi bi-trash-fill"></i>
        </button>
      </div>
    </div>
    <div class="card mt-4">
      <div class="card-header">
        <div class="row">
          <div class="col-9">
            <h4>{{details.displayName || 'Feature Toggle'}}</h4>
          </div>
          <div *ngIf="details.expiresOn" class="col-3">
            <strong>Expires on {{details.expiresOn | date:'medium'}}</strong>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="row mt-2">
          <div class="col-6">
            <p class="card-text"><strong>Technical Name:</strong> {{details.technicalName}}</p>
          </div>
          <div class="col-6">
            <p class="card-text"><strong>Description:</strong> {{details.description || 'N/A'}}</p>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-6">
            <p class="card-text"><strong>Inverted:</strong> {{details.inverted}}</p>
          </div>
          <div class="col-6">
            <p class="card-text"><strong>Customer Ids:</strong> {{details.customerIds}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #loading>
  <app-loading-spinner></app-loading-spinner>
</ng-template>

<ng-template #showErrorMessage>
  <app-error-panel [errorMessage]="errorMessage"></app-error-panel>
</ng-template>
