<nav class="navbar navbar-light bg-primary">
  <div class="container-fluid">
    <h2 class="navbar-brand">Feature Toggle Web App</h2>
    <div class="justify-content-end">
      <h5 class="navbar-text">João Gameiro</h5>
    </div>
  </div>
</nav>
