<div class="container mt-4">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a
            routerLink="../..">Feature Toggles</a></li>
        <li *ngIf="featureToggleId" class="breadcrumb-item"><a
          routerLink="..">Details</a></li>
        <li
          class="breadcrumb-item active"
          aria-current="page">
          {{ featureToggleId ? 'Edit' : 'New' }}
        </li>
    </ol>
  </nav>
</div>

<div class="container">
  <form #form="ngForm">
    <div class="form-check form-switch mt-5">
      <label class="form-check-label" for="inverted">Inverted</label>
      <input
        id="inverted"
        name="inverted"
        class="form-check-input"
        [(ngModel)]="formProperties.inverted"
        type="checkbox">
    </div>
    <div class="form-group">
      <div class="row mt-4">
        <div class="col-6">
          <label for="displayName">Display Name</label>
          <input
            id="displayName"
            name="displayName"
            class="form-control"
            [(ngModel)]="formProperties.displayName"/>
        </div>
        <div class="col-6">
          <label for="technicalName">Technical Name</label>
          <input
            id="technicalName"
            name="technicalName"
            class="form-control"
            [(ngModel)]="formProperties.technicalName"
            required />
        </div>
      </div>
    </div>

    <div class="form-group mt-4">
      <div class="row">
        <div class="col-12">
          <label for="description">Description</label>
          <textarea
            id="description"
            name="description"
            [(ngModel)]="formProperties.description"
            class="form-control">
          </textarea>
        </div>
      </div>
    </div>

    <div class="form-group mt-4">
      <div class="row">
        <div class="col-3">
          <label for="expiresOn">Expires On</label>
          <input
            id="expiresOn"
            name="expiresOn"
            class="form-control"
            [(ngModel)]="formProperties.expiresOn"
            type="datetime-local"/>
        </div>
        <div class="col-9">
          <label for="customerIds">Customer IDs</label>
          <input
            id="customerIds"
            name="customerIds"
            class="form-control"
            [(ngModel)]="formProperties.customerIds"
            required/>
        </div>
      </div>
    </div>

    <div class="confirm-buttons mt-5">
      <button
        type="button"
        class="btn btn-primary rounded-circle"
        (click)="onSubmit()"
        title="Save"
        [disabled]="!form.valid">
          <i class="bi bi-check-lg"></i>
      </button>
      <button
        id="cancel-button"
        type="button"
        class="btn btn-danger rounded-circle"
        (click)="onCancel()"
        title="Cancel">
          <i class="bi bi-x-lg"></i>
      </button>
    </div>
  </form>

  <ng-container *ngIf="errorMessage !== null">
    <app-error-panel [errorMessage]="errorMessage"></app-error-panel>
  </ng-container>
</div>

